/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 6, ../sass/colorbox.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 14, ../sass/colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 20, ../sass/colorbox.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

/* line 24, ../sass/colorbox.scss */
#cboxContent {
  position: relative;
}

/* line 28, ../sass/colorbox.scss */
#cboxLoadedContent {
  overflow: auto;
}

/* line 32, ../sass/colorbox.scss */
#cboxTitle {
  margin: 0;
}

/* line 36, ../sass/colorbox.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 44, ../sass/colorbox.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/* line 48, ../sass/colorbox.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
}

/* line 55, ../sass/colorbox.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

/* line 62, ../sass/colorbox.scss */
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 72, ../sass/colorbox.scss */
#cboxOverlay {
  background: url(../../../img/general/gallery/overlay.png) repeat 0 0;
}

/* line 78, ../sass/colorbox.scss */
#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(../../../img/general/gallery/controls.png) no-repeat -101px 0;
}

/* line 84, ../sass/colorbox.scss */
#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(../../../img/general/gallery/controls.png) no-repeat -130px 0;
}

/* line 90, ../sass/colorbox.scss */
#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(../../../img/general/gallery/controls.png) no-repeat -101px -29px;
}

/* line 96, ../sass/colorbox.scss */
#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(../../../img/general/gallery/controls.png) no-repeat -130px -29px;
}

/* line 102, ../sass/colorbox.scss */
#cboxMiddleLeft {
  width: 21px;
  background: url(../../../img/general/gallery/controls.png) left top repeat-y;
}

/* line 107, ../sass/colorbox.scss */
#cboxMiddleRight {
  width: 21px;
  background: url(../../../img/general/gallery/controls.png) right top repeat-y;
}

/* line 112, ../sass/colorbox.scss */
#cboxTopCenter {
  height: 21px;
  background: url(../../../img/general/gallery/border.png) 0 0 repeat-x;
}

/* line 117, ../sass/colorbox.scss */
#cboxBottomCenter {
  height: 21px;
  background: url(../../../img/general/gallery/border.png) 0 -29px repeat-x;
}

/* line 122, ../sass/colorbox.scss */
#cboxContent {
  background: #fff;
  overflow: hidden;
}

/* line 127, ../sass/colorbox.scss */
.cboxIframe {
  background: #fff;
}

/* line 131, ../sass/colorbox.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

/* line 136, ../sass/colorbox.scss */
#cboxLoadedContent {
  margin-bottom: 28px;
}

/* line 140, ../sass/colorbox.scss */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}

/* line 149, ../sass/colorbox.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}

/* line 156, ../sass/colorbox.scss */
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}

/* line 163, ../sass/colorbox.scss */
#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../../../img/general/gallery/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
/* line 171, ../sass/colorbox.scss */
#cboxPrevious:hover {
  background-position: -75px -25px;
}

/* line 176, ../sass/colorbox.scss */
#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(../../../img/general/gallery/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
/* line 184, ../sass/colorbox.scss */
#cboxNext:hover {
  background-position: -50px -25px;
}

/* line 189, ../sass/colorbox.scss */
#cboxLoadingOverlay {
  background: url(../../../img/general/gallery/loading_background.png) no-repeat center center;
}

/* line 193, ../sass/colorbox.scss */
#cboxLoadingGraphic {
  background: url(../../../img/general/gallery/loading.gif) no-repeat center center;
}

/* line 197, ../sass/colorbox.scss */
#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../../../img/general/gallery/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
/* line 205, ../sass/colorbox.scss */
#cboxClose:hover {
  background-position: -25px -25px;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
/* line 217, ../sass/colorbox.scss */
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
/* line 228, ../sass/colorbox.scss */
.cboxIE6 #cboxTopLeft {
  background: url(../../../img/general/gallery/ie6/borderTopLeft.png);
}
/* line 231, ../sass/colorbox.scss */
.cboxIE6 #cboxTopCenter {
  background: url(../../../img/general/gallery/ie6/borderTopCenter.png);
}
/* line 234, ../sass/colorbox.scss */
.cboxIE6 #cboxTopRight {
  background: url(../../../img/general/gallery/ie6/borderTopRight.png);
}
/* line 237, ../sass/colorbox.scss */
.cboxIE6 #cboxBottomLeft {
  background: url(../../../img/general/gallery/ie6/borderBottomLeft.png);
}
/* line 240, ../sass/colorbox.scss */
.cboxIE6 #cboxBottomCenter {
  background: url(../../../img/general/gallery/ie6/borderBottomCenter.png);
}
/* line 243, ../sass/colorbox.scss */
.cboxIE6 #cboxBottomRight {
  background: url(../../../img/general/gallery/ie6/borderBottomRight.png);
}
/* line 246, ../sass/colorbox.scss */
.cboxIE6 #cboxMiddleLeft {
  background: url(../../../img/general/gallery/ie6/borderMiddleLeft.png);
}
/* line 249, ../sass/colorbox.scss */
.cboxIE6 #cboxMiddleRight {
  background: url(../../../img/general/gallery/ie6/borderMiddleRight.png);
}
/* line 252, ../sass/colorbox.scss */
.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight {
  _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
